@use '@/styles/variables' as *;

.card {
  cursor: pointer;
  position: relative;
  width: 288px;
  height: 288px;
  flex-shrink: 0;
  overflow: hidden;
  background-color: $primary-300;

  display: flex;
  justify-content: center;
  align-items: center;

  .image {
    width: 240px;
    height: 240px;
    object-fit: cover;
    filter: grayscale(100%);
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    height: 240px;
    width: 240px;
    background: black;
    z-index: 2;
    opacity: 0.5;
  }

  .content {
    position: absolute;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;

    gap: $spacing-xs;

    .title {
      color: $primary-300;

      text-align: center;
      font-family: Inter;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 120% */
      letter-spacing: 0.125px;
    }

    .description {
      width: 160px;
      height: 24px;
      background-color: $primary-400;
      color: #fff;

      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px;
    }
  }
}
