@use './mixins';
@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans CJK JP', 'Inter', sans-serif;
  line-height: 1.6;
  color: #333;
}

@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('@/assets/fonts/NotoSansJP.ttf') format('truetype');
}

.container {
  padding: 0 18%;
}

// SCSS code for custom scrollbar styling
.custom-scrollbar {
  overflow-y: auto;
  height: 100%;

  // WebKit-specific scrollbar styling
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-300;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary-300;
  }

  &::-webkit-scrollbar-track {
    background: $dark-500;
    border-radius: 4px;
  }
}

