// Colors
$light: #ffffff;
$dark-600: #2e2e2e;
$dark-500: #414141;

$gray-400: #777;

// Primary Colors
$primary-300: #ffcc21;
$primary-400: #ff963c;
$primary-500: #ea6c00;

// Secondary Colors
$secondary-300: #77c3ec;

// Gradient
$primary-gradient: linear-gradient(33deg, #ffcc21 8.75%, #ff963c 86.64%);

// Base Spacing Scale
$spacing-xxs: 4px; // Extra Extra Small
$spacing-xs: 8px; // Extra Small
$spacing-sm: 12px; // Small
$spacing-md: 16px; // Medium
$spacing-lg: 24px; // Large
$spacing-xl: 32px; // Extra Large
$spacing-xxl: 48px; // Extra Extra Large
