@use '@/styles/variables' as *;

.menu {
  width: 280px;
  height: 72px;
  flex-shrink: 0;
  overflow: hidden;
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;
  padding-left: $spacing-xl;
  background: $gray-400;
  cursor: pointer;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;

  border-top: 1px solid #2E2E2E30;
  &:hover {
    background: $dark-500;
  }
}
