@use '@/styles/variables' as *;

.header {
  background-color: $dark-500;
  padding: $spacing-xs 0;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: $spacing-md;
    }
    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .menu_item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-xs;
        padding: 0 $spacing-md;
        .menu_item_title {
          color: #fff;
          font-family: 'Noto Sans CJK JP';
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 23px; /* 143.75% */
        }
      }
    }
  }
}
